@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style:none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: "Roboto", sans-serif;
}

.loginPage{
    height:99vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:2;
    background-color:white;
}

.logoArea img{
    width:130px;
}

.inputArea{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height:200px;
}

.inputArea button{
    width: 109px;
    height:45px;
    margin:15px auto 0;
    background-color:#E7E7E7;
    color:#696969;
    outline: 0;
    border: 0;
    border-radius:9px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    cursor:pointer;
}

#nickNameInput{
    margin-top:94px;
    width:261px;
    height:54px;
    text-align:center;
    font-size:18px;
    border:1px solid #D7D7D7;
    color:#AEAEAE;
    border-radius:4px;
}

.messagePage{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:-1;
}

#header{
    padding:15px 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position:sticky;
    width:100%;
}

#header ion-icon{
    font-size:42px;
}

.headerInfo{
    display:flex;
    justify-content: space-between;
}

.blur{
    width:100%;
    height:105%;
    background: rgba(0, 0, 0, 0.6);
    position:absolute;
    z-index: 3;
}

.onlinePeopleArea{
    background-color:white;
    padding:20px;
    width:0%;
    position:fixed;
    opacity:0;
    right:0;
    height:100vh;
    text-align: right;
    transition:width .5s;
}

.onlinePeopleArea h2{
    text-align:center;
    font-size:16px;
    min-width:178px;
    margin:auto;
    height:84px;
}

.onlinePeople{
    height:150px;
    overflow-y:scroll;
    scrollbar-width:thin;
}

.onlinePerson{
    cursor:pointer;
}

.onlinePeople::-webkit-scrollbar{
    width:5px;
    background-color:#ccc
}

.onlinePeople::-webkit-scrollbar-thumb {
    background: rgb(104, 104, 104);
  }

.onlinePeople li, .example{
    width:100%;
    text-align:left;
    display:flex;
    align-items: center;
    font-size:16px;
    height:36px;
}

.checkmarkArea{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.checkmarkArea ion-icon{
    color:#28BB25;
    width:20px;
}

.example ion-icon{
    padding-right:8px;
    font-size:23px;
}

.onlinePeople ion-icon, .visibilityI ion-icon{
    font-size:23px;
    padding-right:8px
}

#main{
    display:flex;
    flex-direction: column;
    background-color: #F3F3F3;
    padding-bottom:100px;
    height:calc(100vh - 100px);
}

.messageArea{
    margin-bottom:-19px;
    overflow-y:scroll;
    scrollbar-width: thin;

}

.messageInputArea{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position:fixed;
    width: 100%;
    bottom:0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.messageInputArea input{
   height:80px;
   width:100%;
   font-size:18px;
   padding:0 17px;
   outline: none;
   border:0;
}

.messageInputReservado{
    opacity:.7;
    padding:0 17px;
    margin-top:-20px;
    margin-bottom:10px;
    font-size:14px;
}

.messageInputBlock{
    width:100%;
}

.messageInputArea input::placeholder{
    color:black;
    font-weight: 400;
}

.messageInputArea ion-icon{
    margin-left:-35px;
    position:fixed;
    bottom:20px;
    right:15px;
    cursor: pointer;
    font-size:26px;
}

.messageDesc{
    word-break: break-word;
}

.hide {
    display: none;
}

.showWithEffect{
    opacity:1;
    width:70%;
    position:absolute;
    right:0;
    z-index:4;
    height:105%;
    transition:all .5s;
}

.hideWithEffect{
    position:fixed;
    width:0%;
    right:0;
    z-index:-1;
    opacity:0;
    transition:all .5s;
}

.statusMessageLogin{
    background-color:#FFFFFF;
}

.statusMessageEnter{
    background-color:#DCDCDC;
}

.statusPrivateMessage{
    background-color:#FFDEDE;
}

.message{
    padding:12px 8px;
    margin-bottom:4px;
    display:flex;
    gap:5px;
    align-items: center;
}

.data{
    padding-left:8px;
    color:#AAAAAA;
}

.checkmark{
    opacity:0;
}

.selecionado .checkmark{
    opacity:1;
}

h2#visibilityTitle{
    margin:10px 0;
    height:5px;
}

.visibilityI{
    padding-top:18px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

/* Loader area */

#loader{
    margin-top:30px;
}

#loader i {
    font-size:69px;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}